XML/Entrega_DTD_Bernardo_Vila_Ferrer_1DAWB/Resueltos_Berni/ediciones_aranda.dtd

<!ELEMENT ediciones_aranda (informe*)>
<!ELEMENT informe (cabecera, datos)>
<!ELEMENT cabecera (descripcion?, fecha)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT datos (region, region, region)>
<!ELEMENT region (trimestre, trimestre, trimestre, trimestre)>
<!ATTLIST region zona CDATA "">
<!ELEMENT trimestre (ventas?)>
<!ATTLIST trimestre num_trimestre (1 | 2 | 3 | 4) #REQUIRED>
<!ELEMENT ventas EMPTY>
<!ATTLIST ventas cantidad CDATA "NO_INFO">